.DS_Store
.vscode
.vs
build
tmp
*.tmp
~*
*~
.~*
.settings
.classpath
*.xcuserdatad
xcshareddata
*.user
*.ncb
*.suo
*.usr
[Dd]ebug
Debug Static
[Rr]elease
Release Static
*.scc
cscope.files
cscope.out
*.class
*.out
*.o
*.o.*
_*
!__init*
#*
.#*
.svn
.cvs
*.pyc
*.dmp
*.sdf
*.opensdf
ipch
*.err
*.log
*.wrn
objchk_*
objfre_*
@
*.cmd
.tmp*
*.symvers
*.order
*.mod.c
.ropeproject
.AppleDouble
.metadata
.plugins
obj
bin
bin-debug
bin-release
libs
gen
gradle
.gradle
gradle.bat
gradlew
gradlew.bat
.gradlew
.mvn
mvnw
mvnw.bat
.pdsync
.pdsyncu
*.elc
.beam
.idea
.iml
out
RECOVER_*
.fuse_*
*.swf
wingProperties.json
Thumbs.db
.n*
publish
release
stage
.wing
.project
.buildpath
.actionScriptProperties
node_modules
*.pyc
__pycache__
.~*
.ipynb_checkpoints
pkg
target
